body {
  margin: 0;
  background-image: url("../images/bg.png"); }

.hero {
  font-size: 4em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
  background-size: cover;
  margin-top: -0.5em;
  text-align: center;
  padding: 1em 0;
  color: white; }
  .hero p {
    font-size: 0.5em; }

a {
  color: black; }

nav {
  font-family: sans-serif;
  padding-bottom: 1em;
  margin-bottom: 2em;
  background-color: #FFFFFF;
  border-top: 1em solid #848787;
  overflow: hidden; }
  nav .logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    margin-left: 2em;
    height: 2em;
    float: left;
    background-size: contain; }
  nav .navLinks {
    float: right;
    width: 60%;
    margin-top: 0.5em; }
  nav .strong {
    font-size: 1.7em;
    padding-left: .7em; }
  nav a {
    font-weight: bold;
    font-size: .8em;
    margin: 0 4%;
    text-decoration: none;
    color: black;
    display: inline-block; }

#form {
  padding-bottom: 4em;
  margin: 0 2em 2em 2em; }

.border {
  background-color: white;
  border: 6px double grey;
  padding: 1.5em;
  margin: 0 2em; }
  .border p {
    color: #555555;
    font-size: 1em; }

h4 {
  margin-bottom: 3px; }

input {
  width: 100%;
  height: 2em; }

textarea {
  width: 100%;
  height: 10em;
  border: 1px solid #BFBFBF; }

.submitButton {
  background-color: #3A9B44;
  float: right;
  border-style: none;
  font-size: 1.5em;
  padding: 0.25em 0.5em;
  border-radius: .25em;
  color: #F4EEBB;
  margin-top: .5em; }

.boardBorder {
  border: 3px double grey;
  overflow: hidden;
  padding: 2em 2em;
  margin: 0 1em;
  background-color: white; }

.taga {
  background-color: #F9FAE7; }

.boardRight {
  margin: 1em 1em; }

.yellerB {
  background-color: #FAFBE8;
  padding: 1em 2em;
  margin-bottom: 3em; }

.cpnyBox {
  margin: 0 2em;
  height: 20em; }

.companyBx {
  background-color: white;
  text-align: center;
  padding: 1em 2em;
  border: 3px double grey; }
  .companyBx .companyPic {
    background-size: cover; }

.logoo {
  padding: 5em 0 2em 0;
  width: 30%;
  margin-bottom: -1em;
  height: 30%; }

.postDate {
  float: right; }

.createPB {
  width: 80%;
  font-size: 100%;
  color: white;
  background-color: #666666;
  border-radius: 5px;
  margin: 0 10%; }

.jobDeets {
  margin: 1em;
  padding: 2em;
  background-color: white; }

@media screen and (min-width: 58em) {
  #form {
    margin: 0 0 0 5%;
    float: left;
    width: 50%;
    padding-bottom: 1em; }
  .border {
    float: right;
    width: 25%;
    margin: 0 5% 0 0; }
  .boardRight {
    width: 30%;
    float: right;
    margin: 0 5% 0 0;
    box-sizing: border-box; }
  .boardBorder {
    border: 3px double grey;
    overflow: hidden;
    padding: 2em 2em;
    width: 55%;
    float: left;
    background-color: white;
    margin: 0 0 0 5%;
    box-sizing: border-box; }
  .companyBx {
    margin-left: 2.5%;
    margin-bottom: 2em;
    height: 26em;
    float: left;
    width: 45%;
    box-sizing: border-box; }
  .cpnyBox {
    margin: 0; }
  #coBox {
    width: 223%;
    margin-left: -1.15em; } }
